<%= form_with(model: twweet) do |form| %>
  <% if twweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(twweet.errors.count, "error") %> prohibited this twweet from being saved:</h2>

      <ul>
        <% twweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :twweet, style: "display: block" %>
    <%= form.text_area :twweet %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
